-- MySQL dump 10.16  Distrib 10.1.37-MariaDB, for Win32 (AMD64)
--
-- Host: localhost    Database: jisa
-- ------------------------------------------------------
-- Server version	10.1.37-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `jisa_alunos`
--

DROP TABLE IF EXISTS `jisa_alunos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jisa_alunos` (
  `id_aluno` int(11) NOT NULL AUTO_INCREMENT,
  `ra` varchar(50) NOT NULL,
  `nome_aluno` varchar(150) DEFAULT NULL,
  `codcur` int(11) DEFAULT NULL,
  `codper` int(11) DEFAULT NULL,
  `matriz_curricular` varchar(50) NOT NULL,
  `turma` varchar(30) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_aluno`)
) ENGINE=InnoDB AUTO_INCREMENT=1692 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jisa_alunos`
--

LOCK TABLES `jisa_alunos` WRITE;
/*!40000 ALTER TABLE `jisa_alunos` DISABLE KEYS */;
/*!40000 ALTER TABLE `jisa_alunos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jisa_cursos`
--

DROP TABLE IF EXISTS `jisa_cursos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jisa_cursos` (
  `id_curso` int(11) NOT NULL AUTO_INCREMENT,
  `nome_curso` varchar(250) NOT NULL,
  `codcur` int(11) NOT NULL,
  `codper` int(11) NOT NULL,
  PRIMARY KEY (`id_curso`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jisa_cursos`
--

LOCK TABLES `jisa_cursos` WRITE;
/*!40000 ALTER TABLE `jisa_cursos` DISABLE KEYS */;
INSERT INTO `jisa_cursos` VALUES (1,'M - 3┬░ S├ëRIE ',23,3),(2,'M - 2┬░ S├ëRIE',23,2),(3,'M - 1┬░ S├ëRIE',23,1),(4,'F - 9┬░ S├ëRIE',22,9),(5,'F - 8┬░ S├ëRIE',22,8),(6,'F - 7┬░ S├ëRIE',22,7),(7,'F - 6┬░ S├ëRIE',22,6),(8,'F - 5┬░ S├ëRIE ',22,5),(9,'F - 4┬░ S├ëRIE',22,4),(10,'F - 3┬░ S├ëRIE',22,3),(11,'F - 2┬░ S├ëRIE',22,2),(12,'F - 1┬░ S├ëRIE',22,1);
/*!40000 ALTER TABLE `jisa_cursos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jisa_equipes`
--

DROP TABLE IF EXISTS `jisa_equipes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jisa_equipes` (
  `id_equipe` int(11) NOT NULL AUTO_INCREMENT,
  `nome_equipe` varchar(45) DEFAULT NULL,
  `id_modalidade` int(11) NOT NULL,
  `id_turma` int(11) NOT NULL,
  `id_genero` int(11) NOT NULL,
  `codcur` int(11) NOT NULL,
  `codper` int(11) NOT NULL,
  PRIMARY KEY (`id_equipe`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jisa_equipes`
--

LOCK TABLES `jisa_equipes` WRITE;
/*!40000 ALTER TABLE `jisa_equipes` DISABLE KEYS */;
INSERT INTO `jisa_equipes` VALUES (1,'M2 GRECO ROMANO  MASC',11,2,1,23,2),(2,'M3 FUTEBOL  MASC',1,1,1,23,3),(3,'F1 VERMELHO BASQUETE  FEM',2,12,2,22,1),(4,'M2 BASQUETE  MASC',2,2,1,23,2),(5,'M3 CORRIDA  MASC',4,1,1,23,3),(6,'M1A DAMA  MASC',13,3,1,23,1),(7,'M3 XADREZ  MISTO',6,1,3,23,3),(8,'M3 VOLEIBOL  FEM',9,1,2,23,3),(9,'F7 A PERFIL  FEM',14,6,2,22,7),(10,'F2 AZUL FUTEBOL  MASC',1,11,1,22,2),(11,'F2 VERDE FUTEBOL  MASC',1,15,1,22,2);
/*!40000 ALTER TABLE `jisa_equipes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jisa_formacoes`
--

DROP TABLE IF EXISTS `jisa_formacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jisa_formacoes` (
  `id_formacao` int(11) NOT NULL AUTO_INCREMENT,
  `id_equipe` int(11) NOT NULL,
  `id_aluno` int(11) NOT NULL,
  PRIMARY KEY (`id_formacao`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jisa_formacoes`
--

LOCK TABLES `jisa_formacoes` WRITE;
/*!40000 ALTER TABLE `jisa_formacoes` DISABLE KEYS */;
INSERT INTO `jisa_formacoes` VALUES (1,3,262),(2,9,1096),(3,11,302),(4,11,369),(5,11,352),(6,11,332),(7,11,328),(8,11,285);
/*!40000 ALTER TABLE `jisa_formacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jisa_generos`
--

DROP TABLE IF EXISTS `jisa_generos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jisa_generos` (
  `id_genero` int(11) NOT NULL AUTO_INCREMENT,
  `nome_genero` varchar(50) NOT NULL,
  PRIMARY KEY (`id_genero`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jisa_generos`
--

LOCK TABLES `jisa_generos` WRITE;
/*!40000 ALTER TABLE `jisa_generos` DISABLE KEYS */;
INSERT INTO `jisa_generos` VALUES (1,'MASC'),(2,'FEM'),(3,'MISTO');
/*!40000 ALTER TABLE `jisa_generos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jisa_jogos`
--

DROP TABLE IF EXISTS `jisa_jogos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jisa_jogos` (
  `id_jogo` int(11) NOT NULL AUTO_INCREMENT,
  `data` varchar(45) DEFAULT NULL,
  `horas_inicial` varchar(45) DEFAULT NULL,
  `horas_final` varchar(45) DEFAULT NULL,
  `obs` text,
  `id_modalidade` int(11) NOT NULL,
  `id_local` int(11) NOT NULL,
  `id_usuario` int(11) NOT NULL,
  `id_juiz` int(11) NOT NULL,
  `id_equipe_1` int(11) NOT NULL,
  `id_equipe_2` int(11) NOT NULL,
  `id_equipe_3` int(11) NOT NULL,
  `id_equipe_4` int(11) NOT NULL,
  `id_equipe_5` int(11) NOT NULL,
  `pontos_equipe_1` int(11) NOT NULL,
  `pontos_equipe_2` int(11) NOT NULL,
  `pontos_equipe_3` int(11) NOT NULL,
  `pontos_equipe_4` int(11) NOT NULL,
  `pontos_equipe_5` int(11) NOT NULL,
  `pontos_final_1` int(11) NOT NULL,
  `pontos_final_2` int(11) NOT NULL,
  `pontos_final_3` int(11) NOT NULL,
  `pontos_final_4` int(11) NOT NULL,
  `pontos_final_5` int(11) NOT NULL,
  `fair_play_1` int(11) NOT NULL,
  `fair_play_2` int(11) NOT NULL,
  `fair_play_3` int(11) NOT NULL,
  `fair_play_4` int(11) NOT NULL,
  `fair_play_5` int(11) NOT NULL,
  PRIMARY KEY (`id_jogo`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jisa_jogos`
--

LOCK TABLES `jisa_jogos` WRITE;
/*!40000 ALTER TABLE `jisa_jogos` DISABLE KEYS */;
INSERT INTO `jisa_jogos` VALUES (1,'2019-05-27','07:00',NULL,NULL,1,6,1,2,10,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0),(2,'2019-05-27','18:00',NULL,'teste',4,9,1,6,3,9,2,7,2,3,0,0,2,0,3,0,0,2,0,0,0,0,0,0);
/*!40000 ALTER TABLE `jisa_jogos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jisa_locais`
--

DROP TABLE IF EXISTS `jisa_locais`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jisa_locais` (
  `id_local` int(11) NOT NULL AUTO_INCREMENT,
  `nome_local` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id_local`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jisa_locais`
--

LOCK TABLES `jisa_locais` WRITE;
/*!40000 ALTER TABLE `jisa_locais` DISABLE KEYS */;
INSERT INTO `jisa_locais` VALUES (1,'QUADRA 01'),(2,'QUADRA 02'),(3,'QUADRA 03'),(4,'QUADRA V├öLEI'),(5,'QUADRA PETECA'),(6,'SALA 01'),(7,'SALA 02'),(8,'SALA 03'),(9,'SALA 04'),(10,'SALA 05'),(11,'SALA 06'),(12,'SALA 07'),(13,'SALA 08'),(14,'MANDELA'),(15,'PISCINA'),(16,'AQU├üRIO'),(17,'QUADRA SOCIETY'),(18,'SAL├âO EDUCA├ç├âO F├ìSICA');
/*!40000 ALTER TABLE `jisa_locais` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jisa_modalidades`
--

DROP TABLE IF EXISTS `jisa_modalidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jisa_modalidades` (
  `id_modalidade` int(11) NOT NULL AUTO_INCREMENT,
  `nome_modalidade` varchar(45) DEFAULT NULL,
  `qtd_integrantes` int(11) NOT NULL,
  `qtd_equipes` int(11) NOT NULL,
  PRIMARY KEY (`id_modalidade`),
  UNIQUE KEY `nome_modalidade` (`nome_modalidade`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jisa_modalidades`
--

LOCK TABLES `jisa_modalidades` WRITE;
/*!40000 ALTER TABLE `jisa_modalidades` DISABLE KEYS */;
INSERT INTO `jisa_modalidades` VALUES (1,'FUTEBOL',10,2),(2,'BASQUETE',4,2),(3,'QUEIMADA',10,2),(4,'CORRIDA',2,5),(5,'NATA├ç├âO',2,5),(6,'XADREZ',1,2),(8,'PETECA',3,2),(9,'VOLEIBOL',8,2),(10,'SALTO E ALTURA',3,2),(11,'GRECO ROMANO',3,2),(12,'TRUCO',2,2),(13,'DAMA',2,2),(14,'PERFIL',2,2),(15,'FIFA',2,2),(16,'JUST DANCE',2,2);
/*!40000 ALTER TABLE `jisa_modalidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jisa_perfis`
--

DROP TABLE IF EXISTS `jisa_perfis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jisa_perfis` (
  `id_perfil` int(11) NOT NULL AUTO_INCREMENT,
  `nome_perfil` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id_perfil`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jisa_perfis`
--

LOCK TABLES `jisa_perfis` WRITE;
/*!40000 ALTER TABLE `jisa_perfis` DISABLE KEYS */;
INSERT INTO `jisa_perfis` VALUES (1,'ADMINISTRADOR'),(2,'JUIZ'),(3,'COORDENADOR '),(4,'REPRESENTANTE');
/*!40000 ALTER TABLE `jisa_perfis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jisa_pontos`
--

DROP TABLE IF EXISTS `jisa_pontos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jisa_pontos` (
  `id_ponto` int(11) NOT NULL AUTO_INCREMENT,
  `id_equipe` int(11) NOT NULL,
  `id_turma` int(11) DEFAULT NULL,
  `nome_equipe` varchar(45) NOT NULL,
  `nome_turma` varchar(50) NOT NULL,
  `pontos` int(11) NOT NULL,
  `id_jogo` int(11) NOT NULL,
  PRIMARY KEY (`id_ponto`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jisa_pontos`
--

LOCK TABLES `jisa_pontos` WRITE;
/*!40000 ALTER TABLE `jisa_pontos` DISABLE KEYS */;
INSERT INTO `jisa_pontos` VALUES (1,3,12,'F1 VERMELHO BASQUETE  FEM','F1 VERMELHO',3,2),(2,10,11,'F2 AZUL FUTEBOL  MASC','F2 AZUL',0,1),(3,9,6,'F7 A PERFIL  FEM','F7 A',0,2),(4,11,15,'F2 VERDE FUTEBOL  MASC','F2 VERDE',0,1),(5,2,1,'M3 FUTEBOL  MASC','M3',0,2),(6,7,1,'M3 XADREZ  MISTO','M3',2,2),(7,2,1,'M3 FUTEBOL  MASC','M3',0,2);
/*!40000 ALTER TABLE `jisa_pontos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jisa_turmas`
--

DROP TABLE IF EXISTS `jisa_turmas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jisa_turmas` (
  `id_turma` int(11) NOT NULL AUTO_INCREMENT,
  `nome_turma` varchar(250) NOT NULL,
  `turno` varchar(10) NOT NULL,
  `codcur` int(11) NOT NULL,
  `codper` int(11) NOT NULL,
  `id_curso` int(11) NOT NULL,
  PRIMARY KEY (`id_turma`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jisa_turmas`
--

LOCK TABLES `jisa_turmas` WRITE;
/*!40000 ALTER TABLE `jisa_turmas` DISABLE KEYS */;
INSERT INTO `jisa_turmas` VALUES (1,'M3','MANH├â',23,3,1),(2,'M2','MANH├â',23,2,2),(3,'M1A','MANH├â',23,1,3),(4,'M1B','MANH├â',23,1,3),(5,'M1C','MANH├â',23,1,3),(6,'F7 A','MANH├â',22,7,6),(7,'F6 AZUL','MANH├â',22,6,7),(8,'F5 VERMELHO','MANH├â',22,5,8),(9,'F4 ROSA','MANH├â',22,4,9),(10,'F3 VERDE','MANH├â',22,3,10),(11,'F2 AZUL','MANH├â',22,2,11),(12,'F1 VERMELHO','MANH├â',22,1,12),(13,'F9 A','',22,9,4),(14,'7A','',22,7,6),(15,'F2 VERDE','',22,2,11);
/*!40000 ALTER TABLE `jisa_turmas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jisa_usuarios`
--

DROP TABLE IF EXISTS `jisa_usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jisa_usuarios` (
  `id_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(150) DEFAULT NULL,
  `email` varchar(80) NOT NULL,
  `usuario` varchar(45) DEFAULT NULL,
  `senha` varchar(45) DEFAULT NULL,
  `id_turma` int(11) NOT NULL,
  `id_perfil` int(11) NOT NULL,
  PRIMARY KEY (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jisa_usuarios`
--

LOCK TABLES `jisa_usuarios` WRITE;
/*!40000 ALTER TABLE `jisa_usuarios` DISABLE KEYS */;
INSERT INTO `jisa_usuarios` VALUES (1,'LUCAS DE SOUSA ASSUN├ç├âO','lucasdesousa19@hotmail.com','teste','teste',0,1),(2,'PEDRO DE SOUSA','','juiz','juiz',0,2),(3,'professor','','professor','professor',0,3),(4,'aluno','','aluno','aluno',3,4),(5,'aluno','','aluno 2','aluno',1,4),(6,'Paulo','','juiz2','juiz',0,2),(7,'Gabriel','','juiz3','juiz',0,2);
/*!40000 ALTER TABLE `jisa_usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teste_alunos`
--

DROP TABLE IF EXISTS `teste_alunos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teste_alunos` (
  `id_aluno` int(11) NOT NULL DEFAULT '0',
  `ra` varchar(50) CHARACTER SET utf8 NOT NULL,
  `nome_aluno` varchar(150) CHARACTER SET utf8 DEFAULT NULL,
  `codcur` int(11) DEFAULT NULL,
  `codper` int(11) DEFAULT NULL,
  `matriz_curricular` varchar(50) CHARACTER SET utf8 NOT NULL,
  `turma` varchar(30) CHARACTER SET utf8 DEFAULT NULL,
  `email` varchar(50) CHARACTER SET utf8 DEFAULT NULL,
  `matricula` varchar(45) CHARACTER SET utf8 DEFAULT NULL,
  `vet_nov` varchar(45) CHARACTER SET utf8 DEFAULT NULL,
  `tur_ant` varchar(45) CHARACTER SET utf8 DEFAULT NULL,
  `sexo` varchar(45) CHARACTER SET utf8 DEFAULT NULL,
  `turno` varchar(45) CHARACTER SET utf8 DEFAULT NULL,
  `situacao` varchar(45) CHARACTER SET utf8 DEFAULT NULL,
  `cidade` varchar(45) CHARACTER SET utf8 DEFAULT NULL,
  `media` int(11) DEFAULT NULL,
  `id_turma` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teste_alunos`
--

LOCK TABLES `teste_alunos` WRITE;
/*!40000 ALTER TABLE `teste_alunos` DISABLE KEYS */;
/*!40000 ALTER TABLE `teste_alunos` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-05-28 21:05:01
